@import '../../../../utils/bootsrap.scss';
.all-services-btn {
    background-color: #8184ff;
    color: #fff;
    border: none;
    padding: 10px;
    width: 150px;
}

.payment-success {
    font-family: Roboto, "Helvetica Neue", sans-serif;
} 
.payment-success p{
    font-size: 14px;
}