<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 w-100 m-0">
        <div class="col-md-6 p-0 col payment-success">
            <h4 class="font-weight-bold">Thank you for your purchase!</h4>
            <p>Invoice and other purchase details has been sent to your email address. Now you may start to setup your
                XILO profile</p>
            <button color="primary" class="all-services-btn btn mt-3" (click)="setupProfile()">Set up profile </button>
        </div>
        <div class="col-md-6 p-0 col text-center p-2">
            <img src="assets/signup-flow/payment-success.svg" />
        </div>
    </div>
</div>