#spinner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .main-block {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        #spinning-circle {
            display: flex;
            justify-content: center;
            img {
                height: 100px;
            }
        }
        .loaderinfo {
            font-size: 12px;
            line-height: 15px;
            color: #636363;
            margin-top: 30px;
        }
    }
}