<div class="clients-container fade-white-bg">
    <div class="auto-complete-container">
        <aside class="left-aside" style="width: 100%">
            <div class="aside-container">
                <div class="header">
                    <ul class="breadcrumb">
                        <li routerLink="/agent/forms"><a href="javascript:;">Forms</a></li>
                    </ul>
                </div>
                <router-outlet></router-outlet>
            </div>
        </aside>
    </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0',fullScreenBackdrop: true }"></ngx-loading>
