<div class="content-area">
   <div class="tabs-container" [routerLinkActive]="'active-link'">
      <div class="tab tab-item" id="form-tab" routerLink="/agent/forms" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['']" #rla2="routerLinkActive"><h5 [ngStyle]="rla2.isActive?styleTabs(true):''" class="tab-text">Forms</h5></div>
      <div class="clearfix"></div>
   </div>
   <!-- <hr class="line"> -->
   <div class="main">
      <div>
         <router-outlet></router-outlet>
      </div>
   </div>
   
   <!-- New section -->
</div>

