html { font-family: 'Inter', sans-serif; }

h1, h2 {
  text-align: left;
  margin: 0;
}

h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #111111;
  margin: 0;
}

button {
  background: transparent;
  outline: none;
}

p {
  margin: 0;
}

