<div class="container-body">
    <div class="reset-container">
        <header class="reset-header">Reset Password</header>
        <input class="input" type="password" placeholder="Enter password" [(ngModel)]="agent.password">
        <input class="input" type="password" placeholder="Confirm password" [(ngModel)]="passwordConfirmation">
        <button class="button btn-1" type="submit" (click)="resetPassword()">Change Password</button>
    </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0',fullScreenBackdrop: true }"></ngx-loading>