<div class="team_signup_validation">
    <form #teamSignUpForm="ngForm" (ngSubmit)="login(teamSignUpForm.form.value)">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" ngModel name="username" placeholder="Enter username" required>
            <mat-error *ngIf="!username">Enter username</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" ngModel name="password" placeholder="Enter Password" required>
            <mat-error *ngIf="!password">Enter Password</mat-error>
        </mat-form-field>
        <button type="submit" class="primary-btn">Submit</button>
    </form>
</div>