.date-range {
    display: flex;
    justify-content:flex-end;
}

.date-rangepicker {
    display: flex;
    align-items: baseline;
}
.date-rangepicker input {
    position: unset;
    font-size: 12px;
    width: 75px;
}
.date-rangepicker .task-filter-box {
    width: 150px;
    padding: .3rem .5rem;
}

:host ::ng-deep .mat-date-range-input-container {
    align-items: end;
    background-color: #ffffff;
    border: 1px solid transparent;
    height: 30px;
}