<div class="container-body">
    <div class="reset-container">
        <div class="reset-header-container">
            <h2 class="reset-header">Reset Password</h2>
            <small>Enter in your registered email and we'll send it a link to reset your password</small>
        </div>
        <form class="login-form">
            <input name="email" class="input" placeholder="Enter Email" type="text" id="email" [(ngModel)]="user.username">
            <button class="button btn-1" type="submit" (click)="resetPassword()">Send Reset Password Link</button>
            <button class="button btn-2" type="button" routerLink="/auth/login">Return to Login</button>
        </form>
    </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0',fullScreenBackdrop: true }"></ngx-loading>