@import '../../../../../custom-theme.scss';

header {
  @include sm {
    height: 40px;
    padding-top: 10px;
  }
  @include md {
    height: 70px;
    padding-top: 0px;
  }
  @include sm-max {
    width: 100%;
    align-items: center;
  }
  .logo-section {
    @include sm {
      padding-top: 0px;
    }
    @include md {
      padding-top: 16px;
    }
    @include sm-max {
      margin-left: 6px;
    }

    img {
      height: 30px;
      @include md-max {
        height: 40px!important;
      }
    }
  }
  .address-section {
    @include sm {
      justify-content: flex-end;
      padding-top: 0px;
    }
    @include md {
      justify-content: flex-start;
      width: auto;
    }
    @include sm-max {
      text-align: unset;
      margin-right: 10px;
    }
    text-align: right;
    display: flex;
    ul {
      list-style: none;
      display: flex;
      @include sm {
        justify-content: center;
        align-items: center;
      }
      @include md {
        padding-top: 24px;
        align-items: baseline;
      }
      li {
        display: inline;
        line-height: 17px;
        font-weight: bold;
        font-family: $font-family-base;
        padding-left: 15px;
        position: relative;
        
        &:first-child {
          padding-left: 0px;
          @include sm {
            display: none;
          }
          @include md {
            display: inline-block;
          }
          span {
            @include sm-max {
              display: none;
            }
          }
        }
        img {
          height: 18px;
          vertical-align: middle;
          text-align: center;
          margin-top: -7px;
        }
        span {
          color: $header-subtext;
          font-size: $font14;
          padding-left: 5px;
        }
        a {
          text-decoration: none;
        }
        &:hover {
          .tooltiptext {
            visibility: hidden;
            @include sm-max {
              visibility: visible;
            }
          }
        }
        .tooltiptext {
          visibility: hidden;
          background: rgba(97,97,97,.9);
          border-radius: 4px;
          color: #fff;
          font-size: 10px;
          margin: 14px;
          padding: 6px 8px;
          text-overflow: ellipsis;
          position: absolute;
          z-index: 1;
          left: 0px;
          top: 0px;
        }
      }
    }
  }
}
