<div id="create-password-block">
  <div class="main-block">
    <div class="first-block">
      <div class="content">
        <div class="logo-block">
          <img src="assets/logo.png">
        </div>
        <div class="welcome-block">
          Welcome! <br/> Please create a password for your account
        </div>
        <div class="user-email">
          You're logged in as {{user?.username}}
        </div>
      </div>
      <div class="footer-block">
        <img src="assets/Illustration-city.svg">
      </div>
    </div>
    <div class="second-block">
      <form [formGroup]="createPasswordForm">
        <div class="custom-form-responsive form-block">
            <label>Create new password</label>
            <input type="password" formControlName="password" placeholder="Password should be atleast 6 character">
            <span *ngIf="createPasswordForm?.controls.password?.touched" class="form-error">
              <span *ngIf="createPasswordForm?.controls.password?.errors?.required">Required field</span>
              <span *ngIf="createPasswordForm?.controls.password?.errors?.pattern">Password must be 6 characters long with a number, letter and capital letter.</span>
            </span>
        </div>
        <div class="custom-form-responsive form-block">
          <label>Confirm password</label>
          <input type="password" formControlName="confirmPassword" placeholder="Enter Confirm Password">
          <span *ngIf="createPasswordForm?.controls.confirmPassword?.touched" class="form-error">
            <span *ngIf="createPasswordForm?.controls.confirmPassword?.errors?.required">Required field</span>
            <span *ngIf="!createPasswordForm?.controls.confirmPassword?.errors?.required && createPasswordForm?.errors?.invalid">Password does not match</span>
          </span>
        </div>
        <button class="register-button" (click)="next()" [class.disabled]="createPasswordForm.invalid" [disabled]="createPasswordForm.invalid">Register</button>
      </form>
    </div>
  </div>
</div>
