.clearfix {
    clear: left;
}

#autoResponseText {
    max-width: 802px;
}

.create-button {
    background: #7c7fff;
    color: #fff;
    height: 48px;
    width: 120px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 12px;
    cursor: pointer;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #fdfdfd;
}

.branding-section-color-wraper {
    width: 100%;
    height: 158px;
    border: 1px solid #d8d8d8;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    flex-direction: column;
}

.branding-section-color-wraper span {
    font-family: 'Poppins', sans-serif;
    color: #6d6b6c;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
}

.branding-section-color {
    width: 56px;
    height: 55px;
    border-radius: 12px;
    border: none;
}
.table-responsive {
    overflow: auto;
}

.branding-section-color:focus {
    outline: none;
}

.branding-section-logo {
    width: 100%;
    height: 158px;
    border: 1px solid #d8d8d8;
    padding: 15px;
    box-sizing: border-box;
}

.branding-section-logo-container {
    width: 100%;
    overflow: hidden;
    max-width: 212px;
    box-sizing: border-box;
    margin-right: 92px;
}

.branding-section-top-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

#brandingEditBtn {
    top: 560px;
}

.bottom-group {
    margin-bottom: 40px;
}

.main-header-title {
    font-size: 19px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #616c83;
    padding-left: 0px;
}

.main-header-info {
    width: 105px;
    height: 27px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.13;
    text-align: left;
    color: #111111;
}

.color-display {
    border: 1px solid #111;
    height: 10px;
    width: 10px;
    margin: 5px;
}

.client-information {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.file-link {
    margin-top: 20px;
}

.file-uploaded {
    font-size: 18px;
    margin-bottom: 50px;
}

.fa-info {
    font-size: 16px;
    margin-left: 10px;
}

.fa-close {
    float: right;
    margin: 5px;
}

.home-text {
    color: #fdfdfd;
    font-size: 14px;
}

button,
select,
input {
    font-size: 15px;
    font-weight: 500;
}

.info-label {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #5f5c5c;
    margin: 0;
}

.info-label-container {
    text-align: left;
    margin-right: 15px;
    width: 180px;
    display: inline-block;
}

.group a.external-link {
    font-family: 'Poppins', sans-serif;
    line-height: normal;
    font-size: 12px;
    margin: 0;
    font-weight: 400;
    text-decoration: none;
    background: #8184ff;
    color: #fff;
    padding: 2px 8px;
    border-radius: 12px;
}

.info {
    text-align: left;
    color: #5f5c5c;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    line-height: normal;
    font-size: 14px;
    margin: 0;
    font-weight: 500;
}

.logo {
    margin: 10px;
}

.btn-div {
    text-align: center;
    margin-top: 12px;
}

.logo-btn {
    min-width: 115px;
    height: 40px;
    border-radius: 28px;
    background-color: #7c7fff;
    display: inline-block;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 2.7;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 0px 20px;
    font-weight: normal;
}

.main {
    display: flex;
}

.header {
    width: 100%;
    padding: 5px 0 10px 0px;
    line-height: 10px;
    transition: all 0.5s ease;
    font-family: 'Poppins', sans-serif;
}

.header-title {
    font-size: 27px;
    font-weight: normal;
    color: #3b3b3b;
    font-family: 'Poppins', sans-serif;
}

.infoPopup {
    position: absolute;
    background-color: #DFE3E6;
    margin-left: 110px;
    float: left;
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.infoPopup:after {
    content: ' ';
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #DFE3E6;
    position: absolute;
    right: 100%;
    top: 10%;
}

.infoText {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
}

.line {
    height: 16px;
    background-color: #eeeeee;
    border: none;
    width: 200%;
    margin-left: -124px;
    z-index: 0;
}

.main {
    min-height: 195px;
    display: block;
}

#second-line {
    height: 1px;
    background-color: #979797;
}

#third-line {
    height: 3px;
    background-color: #979797;
    border: none;
    width: 200%;
    margin-left: -124px;
    z-index: 0;
}

.section-1 {
    border-bottom: #c0c0c0 1px solid;
    min-height: 150px;
    display: block;
    width: 100%;
    padding-bottom: 20px;
}

.section-select {
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 15px;
    border: 1px solid #111;
}

.section-input {
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: none;
    border: solid 1px #e0dddd;
    font-size: 15px;
    line-height: initial;
    text-align: left;
    color: #5f5c5c;
    width: 287px;
    padding: 7px;
    font-family: 'Poppins', sans-serif;
}

.section-input-lg {
    width: 464px;
}

.section-input-sm {
    width: 65px;
}

.section-info {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 15px;
    padding: 6px;
    vertical-align: middle;
    min-width: 250px;
}

.section-file {
    margin-bottom: 15px;
}

.block-div {
    width: 100%;
    display: block;
}

.section-textarea {
    height: 150px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.09);
    border: solid 1px #999999;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    color: #000000;
    width: 100%;
    padding-left: 19px;
}

.section-textarea:focus {
    outline: none;
}

.tab h5 {
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 0 20px;
    margin-right: 40px;
    padding-bottom: 13px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    color: #5f5c5c;
    transition: all 0.5s;
    font-weight: normal;
}

.tab-item h5:hover,
.tab-item h5:active,
.tab-item h5:focus {
    border: none;
    outline: none;
}

.tab-item h5.active {
    color: #000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.tab-item h5.active:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 6px;
    background-color: #8184ff;
    border-radius: 10px;
}

.tabs-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 24px;
    margin-left: -24px;
    margin-right: -24px;
    justify-content: flex-end;
}

.tab-text {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 13px;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
}
.tab-item:focus, .tab-item:active{
    outline: none;
    border:none;
}
.tab-item {
    font-family: 'Poppins', sans-serif;
}

.textarea {
    font-size: 16px;
    min-width: 400px;
    min-height: 150px;
    white-space: pre-wrap;
}

.group {
    display: inline-block;
    margin-right: 20px;
    /* height: 20px;*/
    padding: 10px 0;
}

.btn {
    float: right;
    cursor: pointer;
    width: 160px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: #7c7fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}

.exit-btn {
    background-color: #fff;
    color: #7c7fff;
    margin-left: 20px;
}

.save-btn-overlay {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(129, 132, 255, 0.5);
    position: fixed;
    top: 0;
    padding: 16px 30px 15px 0;
    right: 0;
    left: 0;
    z-index: 1100;
}

.save-btn-overlay .btn {
    width: auto;
    height: 35px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}

.upload {
    background-color: #b1b1b1;
    color: #fdfdfd;
    padding: 5px 10px;
}

.upload-button {
    height: 25px;
    width: auto;
    color: #7c7fff;
    margin: 20px;
    border: 1px solid #7c7fff;
}


/*14/01/2019*/

ul.breadcrumb {
    padding: 0;
    list-style: none;
    display: flex;
    height: 17px;
    line-height: inherit;
    margin: 0;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #8184ff;
}

ul.breadcrumb li a {
    color: #8d97ad;
    text-decoration: none;
}

ul.breadcrumb li span {
    color: #8d97ad;
    margin: 0 15px;
    font-size: 17px;
}

.content-area {
    padding: 10px 24px 20px 24px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 2rem;
}

.basic-info.mat-card {
    margin-top: 24px;
    border: none;
    box-shadow: 0 0 10px #eaeaea;
    padding-left: 35px;
    font-family: 'Poppins', sans-serif;
    padding-right: 35px;
}

.basic-info.mat-card .form-group {
    border-bottom: 1px solid #efefef;
}

.basic-info.mat-card .form-group:last-child {
    border-bottom: none;
}

.basic-info.mat-card .mat-card-title {
    font-size: 19px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #616c83;
    padding-left: 0px;
}

.basic-info.mat-card .info-label-container {
    text-align: left;
    width: 140px;
    padding-left: 0px;
    margin-right: 20px;
}

.basic-info.mat-card .info-label {
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #5f5c5c;
    margin: 0;
    font-weight: 500;
}

.basic-info.mat-card .info {
    line-height: normal;
    margin: 0;
    font-size: 14px;
    color: #5f5c5c;
}

.basic-info.mat-card .info a {
    text-decoration: none;
    color: #8184ff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.basic-info.mat-card .group {
    display: inline-block;
    height: auto;
    padding: 10px 0;
}

.company-info-container {
    margin-top: 24px;
    border: none;
    box-shadow: 0 0 10px #eaeaea;
    padding-left: 35px;
    font-family: 'Poppins', sans-serif;
    padding-right: 35px;
}

.company-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-header button.edit-btn {
    background-color: #8184ff;
    color: #fff;
    font-size: 15px;
    line-height: inherit;
    border: none;
    padding: 10px;
    min-width: 115px;
    border-radius: 20px;
    cursor: pointer;
}

.company-header button.edit-btn span {
    margin-right: 8px;
}

.company-info-container .info-label-container {
    text-align: left;
    margin-right: 20px;
    width: 193px;
    display: inline-block;
}

.company-info-container .group {
    display: inline-block;
    height: auto;
    padding: 10px 0;
}

.company-info-container .form-group {
    border-bottom: 1px solid #efefef;
}

.company-info-container .form-group:last-child {
    border-bottom: none;
}

.company-info-container .strip-payment-btn {
    background-color: #8184ff;
    color: #fff;
    font-size: 14px;
    line-height: inherit;
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
}

.company-info-container .strip-payment-btn i {
    margin-right: 8px;
    font-size: 15px;
}

.branding-section {
    margin-top: 24px;
    border: none;
    box-shadow: 0 0 10px #eaeaea;
    padding-left: 35px;
    font-family: 'Poppins', sans-serif;
    padding-right: 35px;
}

.branding-title {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 18px;
    color: #6d6b6c;
}

.branding-section-color-container {
    max-width: 212px;
    width: 100%;
}

.navbar-container {
    margin-top: 24px;
    border: none;
    box-shadow: 0 0 10px #eaeaea;
    padding-left: 35px;
    font-family: 'Poppins', sans-serif;
    padding-right: 35px;
}

.navbar-container .form-group {
    border-bottom: 1px solid #efefef;
}

.navbar-container .form-group:last-child {
    border-bottom: none;
}

.start-page-section,
.agency-system-wraper,
.marketing-wraper,
.saleforce-wraper,
.pipedrive-section,
.mail-container,
.setting-wraper,
.score-wraper,
.total-count {
    margin-top: 24px;
    border: none;
    box-shadow: 0 0 10px #eaeaea;
    padding-left: 35px;
    font-family: 'Poppins', sans-serif;
    padding-right: 35px;
}

.mail-container {
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.start-page-section .form-group,
.agency-system-wraper .form-group,
.marketing-wraper .form-group,
.saleforce-wraper .form-group,
.pipedrive-section .form-group,
.setting-wraper .form-group,
.score-wraper .form-group {
    border-bottom: 1px solid #efefef;
}

.start-page-section .form-group:last-child,
.agency-system-wraper .form-group:last-child,
.marketing-wraper .form-group:last-child,
.saleforce-wraper .form-group:last-child,
.pipedrive-section .form-group:last-child,
.setting-wraper .form-group:last-child,
.score-wraper .form-group:last-child {
    border-bottom: none;
}

hr.divider {
    border-top-color: #e6e6e6;
    border-top: 1px;
    margin-top: 15px;
}

.total-count .main-header-title {
    font-size: 22px;
}


/*new section style 04_02_2019*/
.auto-complete-content-area{
    background-color:#fff;
    border-radius:4px;
}
.auto-complete-container{
    margin-top:15px;
    display:flex;
    margin-left:-15px;
    margin-right:-15px;
}
.left-aside{
    width:18%;
        padding: 0 15px;
        margin-bottom:20px;
}
.middle-aside, .right-aside{
    width:41%;
    padding:0 15px;
    margin-bottom:20px;
}
.item-listing{
        margin: 0;
    padding: 0;
    list-style: none;
}
.item-listing li{
    display:flex;
    justify-content: space-between;
        font-family: 'Poppins', sans-serif;
    color: #000;
border-bottom: 1px solid #f1f1f1;
    padding: 10px;
        font-size: 14px;
    font-weight: 400;
}
.item-listing li:last-child{
    border-bottom:none;
}
.item-listing li.active{
    background-color:#8184ff;
    color:#fff;
}
.item-listing li.active span.save-label {
    cursor: pointer;
    background: #fff;
    color: #8184ff;
    padding: 0 10px;
    border-radius: 14px;
    font-size: 12px;
}
.action-container i{
    padding:3px;
    margin:0 5px;
}
.action-container i.icon-edit_pencile{
    color:#5886fe;
    cursor:pointer;
}
.action-container i.icon-rubbish-bin{
color:#ec3131;
cursor:pointer;
}
.p-15{
    padding:15px;
}
h1.page-heading {
    margin: 0;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #000;
}
.input-section{
padding:10px 10px 0 10px;
border:1px solid #e0dede;
margin-bottom:20px;
}
  .input-wraper .input-box{
          height: 60px;
    border: 1px solid transparent;
    width: 100%;
    font-size: 25px;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 10px #f3ecec;
  }
    .input-wraper .normal-input-box{
        height:48px;
        font-size: 14px;
        color:#8d97ad;
    }
    .input-wraper .width-50{
        width:50%;
    }
    .input-wraper textarea.input-box{
resize:none;
    font-size: 14px;
    color:#5f5c5c
    }
.input-wraper{
    margin-bottom:10px;
}
  .input-wraper .input-box:focus{
    border-color:#8184ff;
  }
  .btn-wrap{
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
  }
  .btn-wrap button{
   width: 48%;
    font-size: 18px;
    background: none;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;
  }
  .btn-wrap button.yes-btn{
    color:#fff;
    background-color: #8184ff;
    font-family: 'Poppins', sans-serif;
        box-shadow: 0 2px 10px #8184ff;
  }
  .btn-wrap button.No-btn{
    color:#f42e7d;
    border-color: #f42e7d;
    font-family: 'Poppins', sans-serif;
  }
  .inner-wraper{
    padding:15px;
    border:1px solid #8184ff;
    margin-bottom:10px;
  }
  .drag-drop-sec{
    text-align:center;
        padding: 20px 0;
  }
    .drag-drop-sec label{
        cursor: pointer;
    display: inline-block;
    position: relative;
    }
     .drag-drop-sec label input{
        opacity:0;
        position: absolute;
        width:15px;
        height:15px;
     }
  .drag-drop-sec label span{
        font-family: 'Poppins', sans-serif;
    display: block;
    text-align: center;
    font-size: 13px;
   color: #343434;
  }
    .drag-drop-sec label span.drag-title{
    font-size: 16px;
    font-weight: 500;
    }
    .drag-drop-sec label span.upload-btn{
           background-color: #8184ff;
    color: #fff;
    padding: 3px 13px;
    border-radius: 50px;
    display: inline-block;
    font-size: 11px;
    }
    .p-10{
        padding:10px;
    }
    .element-wraper{
        border:1px dashed #e0dede;
        padding:10px;
        margin-bottom:10px;
        border-radius:4px;
        cursor:move;
    }
    .element-input-container{
        position:relative;
        padding:0;
        padding-left:30px;
        cursor:move;
    }
    .element-input-container:before{
           content: "T";
    position: absolute;
    left: 6px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    top: 6px;
    }
    .subheading-wraper:before{
font-size: 18px;
    left: 8px;
    top: 9px;
    }
      .element-input-container .element-input{
        width: 100%;
    border: none;
       height: 44px;
       cursor:move;
      }
      .element-input-container .element-input:focus{
        border:none;
        outline:none;
      }
      .addon-group{
        display:flex;
         font-family: 'Poppins', sans-serif;
      }
      .label-side{
    width: 120px;
        font-size: 15px;
        font-weight: 600;
        color:#525050;
      }
      .element-side{
        flex-grow: 1;
      }
      .element-side .input-element {
    display: block;
    height: 44px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e0dede;
    padding:10px;
    box-sizing:border-box;
    color:#8d97ad;
     font-family: 'Poppins', sans-serif;
     cursor:move;
}
.element-side textarea.input-element {
    height:120px;
}
.element-side label{
    font-size:13px;
    color:#8d97ad;
    cursor:move;
}
.custom-check{
    position:relative;
    display: block;
    padding-left:25px;
      font-family: 'Poppins', sans-serif;
          font-size: 12px;
          margin-bottom:10px;
}
.custom-check input{
    position:absolute;
    opacity:0;
}
.custom-check input:checked ~ .check-mark:after{
    content:"";
    position:absolute;
    width:7px;
    height:7px;
    background-color:#8184ff;
        top: 4px;
    left: 4px;
}
.custom-check .check-mark{
       width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #8184ff;
    /* border-radius: 3px; */
    position: absolute;
    left:0;
    top:0px;
}
.custom-check .radio-box{
    border-radius:50%;
}
.custom-check input:checked ~ .radio-box:after{
border-radius:50%;
    }
    .tab-item h5.active:after {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        height: 6px;
        background-color: #8184ff;
        border-radius: 10px;
    }
  
.client-table tr:first-child {
    vertical-align: baseline;
}
.date-rangepicker {
    display: flex;
    align-items: baseline;
    /* height: 15px; */
}
.date-rangepicker input {
    position: unset;
    font-size: 12px;
    width: 75px;
}
.date-rangepicker .task-filter-box {
    width: 150px;
    padding: .3rem .5rem;
}

/*End*/

@media only screen and (max-width:1100px) {
    .tab h5 {
        margin-right: 20px;
    }
}
/*04_02_2019*/
@media only screen and (max-width:1023px){
    .auto-complete-container{
        flex-wrap:wrap;
}
.middle-aside, .right-aside{
width:100%;
    }
    .left-aside{
    width: 50%;
    min-width: 300px;
}
}
@media only screen and (max-width:767px) {
    .tabs-container {
        padding: 0;
    }
    .tab h5 {
        margin-right: 0;
        padding: 0 17px;
        padding-bottom: 10px;
    }
    .group {
        display: flex;
    }
    .start-page-section,
    .agency-system-wraper,
    .marketing-wraper,
    .saleforce-wraper,
    .pipedrive-section,
    .mail-container,
    .setting-wraper,
    .score-wraper,
    .total-count {
        padding-left: 20px;
        padding-right: 20px;
    }
    .basic-info.mat-card {
        padding-left: 20px;
        padding-right: 20px;
    }
    .branding-section {
        padding-left: 20px;
        padding-right: 20px;
    }
    .branding-section-top-container {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .branding-section-logo-container {
        max-width: 48%;
    }
    .branding-section-color-container {
        max-width: 48%;
    }
    .group.last-group {
        display: block;
    }
}

@media only screen and (max-width:550px) {
    .tabs-container {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .company-info-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .branding-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap !important;
    }
    .branding-section-top-container {
        flex-direction: column;
    }
    .branding-section-logo-container {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .branding-section-color-container {
        max-width: 100%;
    }
    .navbar-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .company-header {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .mat-card-title {
        width: 100%;
    }
    .group {
        flex-wrap: wrap;
    }
    .info-label-container {
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }
    .company-info-container .group {
        display: block;
    }
    .company-info-container .info-label-container {
        margin-right: 0px;
        width: 100%;
    }
    .info {
        display: block;
    }
}
.add-btn {
    background: #7c7fff;
    position: absolute;
    top: 5px;
    right: 40px;
}
.pagination-div {
    position: relative;
}
.menu-button {
    width: 100%;
    text-align: left;
}

.menu-button > span {
    margin-right: 4px;
}
.table-analytics {
    height: 6rem;
    padding: 8px;
    border-bottom: solid 1px #e1e1e5;    
    box-sizing: border-box;
}
.table-analytics-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.table-analytics-box {
    text-align: center;
    border-right: 1px solid #ececec;
    position: relative;
    min-width: 110px;
}
.clickable-box:hover {
    background: rgba(0,0,0,.04);
    cursor: pointer;
}
.table-analytics-box:before {
    right: -10px;
    top: 25px;
    border-color: transparent transparent transparent #e6e6e6;
    border-width: 5px;
}
.table-analytics-box::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    pointer-events: none;
    z-index: 2;
    -webkit-transform: scaleY(1.6);
    -moz-transform: scaleY(1.6);
    -o-transform: scaleY(1.6);
    -ms-transform: scaleY(1.6);
    transform: scaleY(1.6);
}
.table-analytics-header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 500;
}
.task-due-date {
    padding: .5rem;
    border-radius: 2px;
}

.task-filter-box {
    padding: .35rem;
    border-radius: 2px;
    font-size: 12px;
    border: 1px solid rgb(169,169,169);
    text-align: left;
    outline: none;
}

.task-dropdown-option {
    padding: 2px 6px;
}

.relative-row {
    position: relative;
}

.clickable-table-box:hover {
    background: rgb(124, 127, 255, .2);
    cursor: pointer;
}
.task-completed-button {
    font-size: 14px;
    padding: 0 18px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #7c7fff;
    color: #fff;
    background: #7c7fff;
    cursor: pointer;
    margin-right: .5rem;
}
.export-btn {
    background: #fff;
    color: #000;
    border: 1px solid rgba(169,169,169,.25);
}
.task-completed-button:hover {
    background: #494dff;
    border: 1px solid #494dff;
    color: #fff;
}
.task-selection-button {
    font-size: 12px;
    padding: 4px 8px;
    height: auto;
    border-radius: 4px;
    border: 1px solid #7c7fff;
    color: #fff;
    background: #7c7fff;
    cursor: pointer;
}
.task-selection-button:hover {
    background: #494dff;
    border: 1px solid #494dff;
    color: #fff;
}
.table-analytics-sub-header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
}

.task-row {
    height: 4rem;
}
.task-type-column {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}
.task-priority {
    text-align-last: center;
    direction: ltr;
    font-size: 12px;
    border-radius: 2px;
    padding: 4px 6px;
    background: #ccc;
    color: #000;
    text-align: center;
    margin-right: .75rem;
    max-height: 25px;
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
}
.task-priority::-ms-expand {
    display: none;
}
select.task-priority option {
    background-color: #fff;
    color: #000;
}
.task-type {
    font-size: 14px;
    font-weight: 400;
    width: 65%;
    padding: 2px 4px;
}
.task-description {
    font-size: 12px;
    font-weight: 400;
    color: #a9a6b7;
    white-space: pre-wrap;
}
.task-row:hover {
    background: rgba(0,0,0,.04);

}
.task-icon-link {
    margin: 0 6px;
    text-decoration: none;
}
.task-icon {
    color: #7c7fff;
    cursor: pointer;
}
.action-menu {
    width: 300px;
    padding: 0;
    top: 65px;
    right: 4px;
    display: inline-block;
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    color: #111;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.15);
    box-shadow: 0 2px 6px rgba(0,0,0,.15);
    border-radius: 3px;
    border: 1px solid #d6d6d6;
}

.action-menu::before {
    content: '';
    border-bottom-color: #d6d6d6;
    bottom: 100%;
    right: 10px;
    height: 20px;
    width: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 10px solid transparent;
    position: absolute;
    display: block;
    pointer-events: none;
}

.action-menu::after {
        right: 11px;
        bottom: 100%;
        border-bottom-color: #fff;
        height: 18px;
        width: 18px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 9px solid transparent;
        position: absolute;
        display: block;
        pointer-events: none;
        content: "";
}

.action-menu-header {
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    background-color: #fafafb;
    color: #201c3b;
}

.action-menu-body-tab {
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: bottom;
    line-height: initial;
    border-top: 1px #f0f0f0 solid;
    border-bottom: 1px #f0f0f0 solid;
    margin-top: -1px;
    border-right: 1px #f0f0f0 solid;
}

.header-title {
    font-size: 27px;
    font-weight: normal;
    color: #3b3b3b;
    font-family: 'Poppins', sans-serif;
}

.triangle {
    width: 0; 
    height: 0; 
    position: absolute;
    left: 35%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: rotateZ(180deg)translate(0, 10px);
    border-top: 10px solid #fafafb;
}

.action-menu-body-tab:hover {
    background: rgba(124, 127, 255, .1);
}

.action-menu-body-tab-container {
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    justify-content: space-around;
}

.action-menu-body-tab-icon {
    color: #7c7fff;
    font-size: 28px;
}

.action-menu-body-tab-text {
    font-size: 13px;
    color: #4c4761;
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    width: 100%;
    padding: 5px 0 10px 0px;
    /*  height: 40px;*/
    line-height: 10px;
    transition: all 0.5s ease;
    font-family: 'Poppins', sans-serif;
    }
    .header-title {
    font-size: 27px;
    font-weight:normal;
    /* font-style: normal; */
    /* font-stretch: normal; */
    /* line-height: 1.8; */
    /* letter-spacing: normal; */
    /* text-align: left; */
    color: #3b3b3b;
    font-family: 'Poppins', sans-serif;
    }
    ul.breadcrumb {
    padding: 0;
    list-style: none;
    display: flex;
    height:17px;
    line-height: inherit;
    margin: 0;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color:#8184ff;
    }
    ul.breadcrumb li a{
    color:#8d97ad;
    text-decoration: none;
    }
    ul.breadcrumb li span{
    color:#8d97ad;
    margin:0 15px;
    font-size:17px;
    }
    .content-area {
    background-color: #fff;
    border-radius: 10px;
     font-family: 'Poppins', sans-serif;
    }
    .clients-container{
        border: none;
        box-shadow: 0 0 10px #eaeaea;
        font-family: 'Poppins', sans-serif;
        padding: 10px 24px 20px 24px;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 2rem;
    }
    .client-table{
        width:100%;
        border-collapse: collapse;
    }
    .client-table tr th{
       width: 11.11%;
        font-size: 14px;
        text-align: left;
        font-weight: 500;
            color: #606c84;
    }
     .client-table tr td{
         width: 11.11%;
        font-size: 14px;
        text-align: left;
        font-weight:normal;
            color: #000;
             overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
            border-bottom:1px solid #eaeaea;
        padding: 6px;
    
     }
      .client-table tr td span.small-text{
        font-size:14px;
     }
      .client-table tr td.text-center,  .client-table tr th.text-center{
        text-align:center;
      }
       .client-table tr td .select-box{
        width: 100%;
        padding: 6px;
        border-radius: 5px;
        border: 1px solid #8d97ad;
        font-size: 13px;
            color: #8d97ad;
             background-color:#fff;
      }
      .client-table tr td .select-box.purple-border{
        border-color:#8184ff;
        color:#8184ff;
        background-color:#fff;
      }
      .client-table tr td .select-box.red-border{
         border-color:#ff4b68;
        color:#ff4b68;
        background-color:#fff;
      }
      .client-table tr td .select-box.orange-border{
         border-color:#fea201;
        color:#fea201;
        background-color:#fff;
      }
      .client-table tr td .table-input{
    width: 100%;
        padding: 6px;
        border-radius: 5px;
        border: 1px solid #8d97ad;
        color: #8d97ad;
        box-sizing: border-box;
        font-size: 13px;
        font-weight: 500;
         background-color:#fff;
      }
      .life-cycle-label{
        width:25px;
        height:25px;
        border-radius:50%;
        background-color:#f2f3f5;
        display:inline-block;
        position:relative;
      }
      .life-cycle-label_inner{
        position: absolute;
        left:4px;
        right:4px;
        top:4px;
        bottom:4px;
        border-radius:50%;
        background-color:#ff4b68;
      }
      .client-table tr td span.td-icon{
            padding: 2px;
        margin: 2px;
        font-size: 18px;
        cursor: pointer;
      }
      .client-table tr td span.view-icon{
    color:#8184ff;
      }
       .client-table tr td span.delete-icon{
        color:#ec3131;
       }
       .client-table tr td span.doenload-icon{
        color:#5fb023;
       }
    
       @media only screen and (max-width:1100px){
        .table-responsive{
            width:100%;
            max-width:100%;
            overflow-x: auto;
            overflow-y: hidden;
        }
        .client-table tr th {
        min-width: 130px;
    }
       }
       @media only screen  and (max-width:480px){
        .content-area{
        /* padding: 10px 10px 20px 10px; */
        }
       }

    .color-yellow {
        color: #fdb827;
    }
    /*.action-button {
        height: 35px;
    }
    .action-container {
        position: relative;
    }
    .action-menu {
        position: absolute;
        top: 40;
        right: 0;
        font-size: 12px;
        height: 100px;
        background-color: #cccccc;
        transition: all ease-in .2s;
    }
    .action-menu-item {
        display: none;
    }
    .auto-section{
        display: block;
        margin-left: 20px;
    }
    button:disabled,
    button[disabled]{
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #fdfdfd;
    }
    .btn {
        width: auto;
        height: 25px;
        background-color: blue;
        color: #fdfdfd;
    }
    .clients-container {
        width: 100%;
    }
    .client-container {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
    }
    .client-information {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }
    .client-line {
        flex-basis: 90%;
        border: 1px solid #111;
        padding: 10px 20px;
    }
    .client-view-label {
        font-size: 11px;
    }
    .client-view-overview{
        margin: 5px;
        padding: 0 10px 0 10px;
        display: flex;
        justify-content: space-between;
    }
    .delete {
        background-color: red;
    }
    .dialog_saveNotes {
        border: 0;
        background: none;
        color: #2d2d2d;
        position: absolute;
        bottom: 8px;
        right: 8px;
        font-size: 1.2em;
    }
    .driver-section{
        display: block;
        margin-left: 55px;
    }
    #endDate {
        font-size: 16px;
    }
    .fa-info {
        font-size: 16px;
        margin-left: 10px;
    }
    .fa-close {
        float: right;
        margin: 5px;
    }
    .group {
        flex-basis: 33%;
        justify-content: space-around;
    }
    .group-icon {
        font-size: 32px;
        margin-bottom: 5px;
        text-align: center;
    }
    .group-item-container {
        padding-left: 10px;
        display: flex;
        float: left;
        width: 100%;
    }
    .group-item-input {
        height: 24px;
        margin-top: 12px;
        box-sizing: border-box;
        border-radius: 3px;
        border: solid 1px #999999;
        font-size: 16px;
        line-height: 1;
        text-align: left;
        color: #000000;
        padding-left: 19px;
    }
    .address-input {
        width: 50px!important;
        padding-left: 1px!important;
    }
    .license-input {
        width: 75px!important;
        padding-left: 2px!important;
    }
    .group-item-input#email {
        margin-top: 12px;
    }
    .group-item-content {
        margin-left: 10px;
        text-align: left;
    }
    .group-item-label {
        text-align: right;
    }
    .group-title {
        margin-top: 5px;
        text-align: center;
    }
    .header {
        width: 100%;
        padding: 5px 0 10px 10px;
        height: 40px;
        line-height: 10px;
        transition: all 0.5s ease;
    }
    .header-title {
        float: left;
        width: 211px;
        height: 54px;
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: left;
        color: #111111;
    }
    h5 {
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        color: #555;
        line-height: 1.5rem;
    }
    .line {
        height: 16px;
        background-color: #eeeeee;
        border: none;
        width: 200%;
        margin-left: -124px;
        z-index: 0;
    }
    .infoPopup {
        position: absolute;
        background-color: #DFE3E6;
        margin-left: 120px;
        float: left;
        width: 200px;
        height: auto;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }
    .infoPopup:after {
        content: ' ';
        width:0px;
        height: 0px;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #DFE3E6;
        position: absolute;
        right: 100%;
        top: 10%;
    }
    .infoText {
        text-align: left;
        padding-top: 10px;
        line-height: 20px;
    }
    input {
        margin: .4rem;
    }
    .icon {
        margin-left: 7px;
        cursor: pointer;
    }
    label {
        display: inline-block;
        text-align: right;
        width: 3%;
    }
    .lifecycle-color {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #000;
        margin: 0 auto;
    }
    .lifecycle-td {
        margin: 0 auto;
    }
    .main-side-div{
        overflow: auto;
        max-height: 400px;
        padding-top: 30px;
        overflow-x: hidden;
    }
    #note-btn {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        cursor: pointer;
        color: #ffffff;
        width: 140px;
        height: 40px;
        border-radius: 8px;
        background-color: #7c7fff;
    }
    #note-text {
        margin-top: 100px;
    }
    #notes-text {
        text-align: left;
    }
    #note-textarea {
        height: 140px;
        width: 350px;
        margin-top: 100px;
        border-radius: 8px;
    }
    #note-textarea:focus {
        outline: none;
    }
    .search-input {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 35px;
        width: 225px;
        border: 1px solid #111;
        font-size: 16px;
    }
    .section-header {
        height: min-content;
        font-size: 18px;
        font-weight: bold;
        margin-left: 10px;
    }*/
    
    /* The side navigation menu */
    /*.sideView {
        height: 75%;
        width: 0;
        position: fixed; 
        z-index: 1; 
        top: 0; 
        bottom: 0;
        right: 0;
        margin: auto;
        background-color: #FFFFFF;
        border-radius: 2px;
        border-right: 0;
        overflow-x: scroll!important;
        padding-top: 15px;
        transition: 0.5s;
    }*/
    
    /* Position and style the close button (top left corner) */
    /*.sideView .closebtn {
        position: absolute;
        bottom: 0;
        height: 40px;
        left: 0;
        font-size: 24px;
    }
    .stats-control {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        text-align: center;
    }
    #startDate {
        font-size: 16px;
    }
    .tab {
        padding-bottom: 10px;
        margin-right: 100px;
        text-align: center;
        cursor: pointer;
    }
    .tabs-container {
        display: flex;
        flex-flow: row nowrap;
        float: left;
        width:100%;
        margin-bottom: 10px;
    }
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 14px;
    }
    .tab button:hover {
        background-color: #ddd;
    }
    .tab button.active {
        background-color: #ccc;
    }
    table {
        border-collapse: collapse;
        display: block;
        overflow: auto;
        width: auto;
        white-space: nowrap;
    }
    .tab-links{
        background-color: #FFFFFF;
        border: none;
        color: black;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
    }
    .tab-links:focus {
        border-bottom: '2px solid #7C7FFF';
    }
    .table-shadow {
        display: inline-block;
    }
    th {
        text-align: left;
        padding: 10px 25px;
    }
    td {
        text-align: left;
        padding: 25px;
    }
    textarea {
        margin-top: 20px;
        font-family: 'Lato',sans-serif;
        font-weight: 500;
        font-size: 16px;
        border-radius: 2px;
        height: 150px;
        width: 80%;
        padding: 20px 20px;
        text-align:left;
        border: 1px solid gray;
      }
    .vehicle-section{
        display: block;
        margin-left: 20px;
    }
    .view {
        background-color: #7C7FFF;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
    @media (max-width: 599px) {
        .client-information {
            flex-flow: column;
        }
        .desktop {
            display: none;
        }
    }
    @media (min-width: 600px) {
    }
    */
    
    .info-icon {
        color: red;
    }

    .color-info-active {
        color: green;
    }

    .loading-spinner {
        display: inline-block;
        height: 24px;
        width: 24px;
    }

