/*New style for team 21/01/2019*/
/*@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');*/
.tab-item h5{
    position:relative;
}
.tab-item h5.active :after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 6px;
    background-color: #8184ff;
    border-radius: 10px;
}
.tab-item:active, .tab-item:focus{
    outline:none;
    border:none;
}
.user-container{
    margin-top: 24px;
    border: none;
    box-shadow: 0 0 10px #eaeaea;
    padding-left: 35px;
    font-family: 'Poppins', sans-serif;
    padding-right: 35px;
    padding-top:15px;
        padding-bottom: 15px;
}
.main-header-title{
    font-size: 19px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #616c83;
    padding-left: 0px;
    margin:0;
}

/*table style*/
.custom-table .custom-table-header{
    min-height:auto;
        padding: 10px 0;
}
.custom-divider{
 height: 1px;
    background-color: #e0e0e0;
    margin-top: 10px;
}
.custom-table-header .mat-header-cell:first-of-type{
    padding:0;
}
.custom-table-header .mat-cell:first-of-type{
    padding:0;
}
.mat-header-cell {
    font-size: 16px;
    font-weight: 500;
     font-family: 'Poppins', sans-serif;
      color: #616c83;
}
.mat-header-cell.mat-column-action {
    min-width:60px;
    max-width:250px;
    display: flex;
justify-content: center;
}
.mat-cell.mat-column-action {
    min-width:60px;
    max-width:250px;
display: flex;
justify-content: center;
align-items: center;
}
.custom-table-header .mat-header-cell:last-of-type {
    padding-right: 0px;
}
.custom-table-header .mat-cell:last-of-type {
    padding-right: 0px;
}
.mat-btn{
        padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 19px;
    margin: 0 5px;
}
.mat-btn span.icon-edit1{
    color:#a5a5a5;
}
.mat-btn span.icon-rubbish-bin{
    color:#ec3131;
}
.custom-table .mat-row:last-child{
    border:none;
}
.mat-cell.cdk-column-email{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:#4da7ff;
}
.mat-cell.cdk-column-name{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:#a5a5a5;
}

/*form*/
.form-container{
    display: flex;
    flex-wrap: wrap;
    max-width:900px;
    margin-left:-10px;
    margin-right: -10px;
}
.input-wraper{
    width:50%;
    padding: 0 10px;
    box-sizing:border-box;
}
.input-wraper .mat-form-field{
    display:block;
}
.input-wraper .custom-input{
        border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px 8px;
    box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      font-size:13px;
      width:100%;
}
p.info-label {
    margin: 17px 0 5px 0;
    font-size: 12px;
    font-weight: 500;
    color: #666;
}
.save-btn-overlay{
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(129, 132, 255, 0.5);
    position: fixed;
    top: 0;
    padding: 16px 30px 15px 0;
    right: 0;
    left: 0;
    z-index: 1100;
    display:flex;
    justify-content: flex-end;
}
/*.exit-btn{
    background-color: #fff;
    color: #7c7fff;
    margin-left: 20px;
}*/
.save-btn-overlay .btn{
    width: 125px;
    height: 35px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    border-radius: 7px;
    border:1px solid transparent;
    margin: 0 15px;
    cursor: pointer;
    background: transparent;
}
.save-btn-overlay .save-btn{
    background-color: #8184ff;
    color: #fff;
}
.save-btn-overlay .exit-btn{
   color: #8184ff;
    border-color:#8184ff;
    background-color:#fff;
}
.save-btn-overlay .delete-btn{
    color:#fff;
    background-color:#b32e2e;
}
@media only screen and (max-width:1024px){
    .save-btn-overlay{
        padding:15px;
    }
    .save-btn-overlay .btn{
        margin:0 5px;
    }
}
@media only screen and (max-width:767px){
    .mat-header-cell.mat-column-action {
        min-width:100px;
    }
    .mat-header-cell.mat-column-email {
        min-width:150px;
    }
    .mat-header-cell.mat-column-name {
        min-width:150px;
    }
    .cdk-column-name{
         min-width:150px;
    }
    .cdk-column-email{
         min-width:150px;
    }
     .cdk-column-action{
            min-width:100px;
     }
     .team-table-container{
        width:100%;
        overflow-x: auto;
        overflow-y: hidden;
     }
     .mat-table {
    width: max-content;
}
}
@media only screen and (max-width:479px){
.input-wraper{
    width: 100%;
}
.user-container{
    padding-left:15px;
    padding-right:15px;
}
}
/*.input-wraper mat-form-field.mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom:0px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-infix{
    padding:0;
}*/
/*#autoResponseText {
    max-width: 350px;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #fdfdfd;
}

.btn {
    background-color: blue;
    color: #fdfdfd;
    height: 35px;
    margin-top: 20px;
    width: 75px;
    position: fixed;
    bottom: 100px;
    right: 70px;
}

.branding-section-color {
    width: 160px;
    height: 160px;
    border-radius: 16px;
    border: none;*/
    /* background-color: #7c7fff; */
  /*  margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
    line-height: 8.66;
    color: #ffffff;
    text-align: center;
}

.branding-section-color:focus {
    outline: none;
}

.branding-section-logo {
    width: 160px;
    height: 158px;
    border-radius: 16px;
    margin-bottom: 16px;
}

.branding-section-logo-container {
    margin-right: 80px;
}

.branding-section-top-container {
    display: flex; 
    flex-flow: row;
    margin-bottom: 56px;
    margin-left: 116px;
}

#brandingEditBtn {
    top: 560px;
}

.bottom-group {
    margin-bottom: 40px;
}

#companyInfo {
    margin-top: 32px;
    margin-bottom: 0;
}

#emailEditBtn, #estimationEditBtn, #apiEditBtn {
    top: 190px;
}

.main-header-info {
    width: 105px;
    height: 27px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.13;
    text-align: left;
    color: #111111;
}

.color-display {
    border: 1px solid #111;
    height: 10px;
    width: 10px;margin: 5px;
}

.client-information {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.edit-btn {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    top: 431px;
    right: 155px;
    width: 160px;
    height: 48px;
    border-radius: 8px;
    background-color: #7c7fff;
}

.file-link {
    margin-top: 20px;
}

.file-uploaded {
    font-size: 18px;
    margin-bottom: 50px;
}

.fa-info {
    font-size: 16px;
    margin-left: 10px;
}

.fa-close {
    float: right;
    margin: 5px;
}

.home-text {
    color: #fdfdfd;
    font-size: 14px;
}

button, select, input {
    font-size: 18px;
    font-weight: 400;
}

.info-label {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #555555;
}

.info-label-container {
    text-align: right;
    margin-right: 64px;
    width: 200px;
    display: inline-block;
}

.info {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: #000000;
    display: inline-block;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    color: #000;
    line-height: 1.5rem;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    color: #000;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    line-height: 1.5rem;
}

h4 {
    font-weight: 700;
    font-size: 20px;
    color: #7C7FFF;
    line-height: 1.5rem;
}

h5 {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #555;
    line-height: 1.5rem;
}

h6 {
    font-weight: 700;
    font-size: 18px;
    color: #000;
    line-height: 1.5rem;
}

p {
    font-weight: 400;
    font-size: 18px;
    color: #000;
    line-height: 1.5rem;
}

blockquote {
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    color: #555;
    line-height: 1.5rem;
}

.last-group {
    margin-bottom: 120px;
}


.logo {
    margin: 10px;
}*/

/*.logo-btn {
    width: 160px;
    height: 40px;
    border-radius: 6px;
    background-color: #7c7fff;
    display: block; 
    font-size: 14px;
    font-weight: bold;
    font-family:'Lato', sans-serif;
    line-height: 2.7;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}*/

/*.main {
    display: flex;
}
*/
/*.header {
    width: 100%;
    padding: 5px 0 10px 10px;
    height: 40px;
    line-height: 10px;
    transition: all 0.5s ease;
}*/

/*.header-title {
    float: left;
    width: 211px;
    height: 54px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #111111;
}*/

/*.infoPopup {
    position: absolute;
    background-color: #DFE3E6;
    margin-left: 110px;
    float: left;
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.infoPopup:after {
    content: ' ';
    width:0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #DFE3E6;
    position: absolute;
    right: 100%;
    top: 10%;
}

.infoText {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
}

.line {
    height: 16px;
    background-color: #eeeeee;
    border: none;
    width: 200%;
    margin-left: -124px;
    z-index: 0;
}

.main {
    min-height: 195px;
    display: block;
}

#second-line {
    height: 1px;
    background-color: #979797;
}

#third-line {
    height: 3px;
    background-color: #979797;
    border: none;
    width: 200%;
    margin-left: -124px;
    z-index: 0;
}

.section-1 {
    border-bottom: #c0c0c0 1px solid;
    min-height: 150px;
    display: block;
    width: 100%;
    padding-bottom: 20px;
}

.section-select {
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 15px;
    border: 1px solid #111;
}

.section-info {
    display:inline-block;
    font-size:14px;
    font-weight:400;
    line-height:14px;
    margin-bottom:15px;
    padding: 6px;
    vertical-align:middle;
    min-width: 250px;
}

.section-file {
    margin-bottom: 15px;
}

.section-textarea {
    height: 200px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.09);
    border: solid 1px #999999;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    color: #000000;
    width: 350px;
    padding-left: 19px;
}

.section-textarea:focus {
    outline: none;
}

.tab {
    padding-bottom: 10px;
    margin-right: 100px;
    text-align: center;
    cursor: pointer;
}

.tabs-container {
    display: flex;
    flex-flow: row nowrap;
    float: left;
    width:100%;
    margin-bottom: 10px;
}

.table-header {
    background: lightgrey;
}

.mat-cell {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.mat-header-cell {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.tab-text {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 13px;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
}

.team-table-container {
    width: 80%;
}

.team-table {
    background: transparent;
    height: 300px;
    overflow-y: auto;
}

#user-tab {
    box-sizing: border-box;
    width: 50px;
    height: 27px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 1.5px;
    text-align: center;
    color: #555555;
}

#user-tab:focus, #agent-tab:focus {
    outline: none;
}

#agent-tab {
    box-sizing: border-box;
    width: 60px;
    height: 27px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 1.5px;
    text-align: center;
    color: #555555;
}

#api-tab {
    width: 29px;
    height: 27px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 1.5px;
    text-align: center;
    color: #555555;
}

#auto-response-tab {
    width: 50px;
    height: 27px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 1.5px;
    text-align: center;
    color: #555555;
}

#estimation-tab {
    height: 27px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 1.5px;
    text-align: center;
    color: #555555;
}

.textarea {
    font-size: 16px;
    min-width: 400px;
    min-height: 150px;
    white-space: pre-wrap;
}

.group {
    display: inline-block;
    margin-right: 20px;
    height: 20px;
}

.save-btn {
    float: right;
    width: 160px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: #7c7fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    margin-left: 20px;
    cursor: pointer;
}

.delete-btn {
    float: right;
    width: 160px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: red;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.exit-btn {
    float: right;
    width: 160px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
    margin-left: 20px;
    text-align: center;
    color: #7c7fff;
}

.save-btn-overlay {
    box-sizing: border-box;
    width: 100%;
    height: 79px;
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    bottom: 0;
    padding: 16px 30px 15px 0;
    right: 0;
    left: 0;
}

.upload {
    background-color: #b1b1b1;
    color: #fdfdfd;
    padding: 5px 10px;
}

.upload-button {
    height: 25px;
    width: auto;
    color: #7c7fff;
    margin: 20px;
    border: 1px solid #7c7fff;
}

@media (max-width: 599px) {
    .header {
        width: auto;
    }
    .textarea {
        min-width: 300px;
        min-height: 125px;
    }
}

@media (min-width: 600px) {
    .header {
        width: 100%;
    }
}*/
