<form [formGroup]="currentForm">
  <div class="form-item">
    <div class="input-search" *ngIf="properties?.hasLabeledSelectOptionsSearch">
      <input
        class="xilo-input"
        type="text"
        placeholder="Search by {{
          properties?.placeholderText?.toLowerCase()
        }} type"
        (input)="handleInputChange($event?.target)"
      />
      <div class="search-icon">
        <img src="/assets/icon/search-icon.svg" />
      </div>
    </div>
    <div class="text-center" *ngIf="!labeledSelectOptions?.length">
      No matching {{ properties?.placeholderText }} found
    </div>
    <div
      [ngClass]="
        item?.value === getValue() || isSelectedOption(item.value)
          ? 'input-container selected'
          : 'input-container '
      "
      *ngFor="let item of labeledSelectOptions"
      (click)="handleOptionSelect(item)"
    >
      <span
        class="checkbox"
        [ngClass]="isSelectedOption(item.value) ? 'checked' : ''"
        *ngIf="properties?.isMultipleSelect"
      ></span>
      <div class="label-container">
        <span class="input-text" *ngIf="item?.label">
          {{ item?.label }}
        </span>
        <div>
          <img
            [style.display]="
              !properties?.isMultipleSelect &&
              (isSelectedOption(item?.value) || isSelectedOption(item.value))
                ? 'block'
                : 'none'
            "
            src="../../../../../assets/icon/check_24px.png"
          />

          <img
            src="/assets/icon/info_24px.svg"
            class="tooltip"
            *ngIf="item?.tooltip"
            [tooltip]="item?.tooltip"
            (click)="handleTooltipClick($event)"
          />
        </div>
      </div>
    </div>
  </div>
</form>