.container {
    text-align: center;
    background-color: #FAFBFD;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
}

.settings-card {
    margin: 0 auto 24px auto;
    max-height: 600px;
    overflow-y: scroll;
}
.save-btn {
    width: 100px;
    height: 32px;
    border-radius: 4px;
    border: none;
    background: #7c7fff;
    color: #fff;
    cursor: pointer;
}

.section-title {
    width: 100%;
    text-align: left;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 2rem;
    padding: .5rem;
    background: #7c7fff;
    color: #fff;
    margin-top: -2rem;
    border-radius: 2px;
}

.section-line-break {
    color: #ccc;
    opacity: .3;
}

.validation-card-list {
    margin-top: 0;
    margin-bottom: 2rem;
}

.validation-card-container {
    text-align: center;
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.validation-form {
    width: 100%;
    min-width: 600px;
    text-align: left;
    display: flex;
    flex-flow: column wrap;
    float: left;
    padding: 12px 0 0 0;
}

.validation-input {
    width: 50%;
    height: 32px;
    border-radius: 4px;
    border-width: 1px;
    border: 1px solid #ccc;
    padding-left: 8px;
    box-sizing: border-box;
}

.validation-input-icon {
    width: 15px;
    position: absolute;
    right: 50%;
    transform: translateY(34px);
    cursor: pointer;
}

.row {
    cursor: pointer;
    padding: .75rem;
}

.row:hover {
    background: rgba(0,0,0,.04);
}

.autocomplete {
    width: 50%;
}

.autocomplete-inputs {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.autocomplete-menu {
    display: none;
    background: #fff;
    border: 1px solid rgba(204,204,204,1);
    width: 100%;
    transform: translateY(-2px);
    max-height: 10rem;
    overflow-y: scroll;
    border-radius: 1px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.add-card {
    box-shadow: none;
    background-color: transparent;
    border: 1px #ccc dashed;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
}

.validation-icon {
    height: 1rem;
    width: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.validation-card {
    margin: 24px;
    min-height: 32px;
    padding: 16px;
    box-sizing: border-box;
}

.info-icon {
    font-size: 12px;
    height: 12px;
    width: 12px;
    margin-left: 8px;
}

.input-group {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    text-align: left;
    margin: 8px 0;
}

.input-label {
    opacity: .80;
    font-size: 14px;
    margin: 4px 0;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    vertical-align: middle;
    align-items: center;
}

.settings-btn {
    height: 48px;
    width: 160px;
    background: transparent;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin: 8px 24px;
}

.settings-btn:hover {
    opacity: .92;
}

.primary {
    background-color: #7c7fff;
    color: #fff;
    border: none;
}

.secondary {
    background-color: #fff;
    color: #000;
    border: 1px #ccc solid;
}
